@use '../abstracts/variables';


.button {
  background-color: variables.$color-08;
  padding: 15px 45px;
  width: 210px;
  border: none;
  border-radius: 15px;
  text-decoration: none;
  text-align: center;
  font-family: variables.$primary-font;
  font-size: 15px;
  color: variables.$color-03;
}
.button:hover {
  background-color: variables.$color-07;
  color: white;
  padding: 15px 45px;
  width: 210px;
  border: none;
  border-radius: 15px;
}
.return {
  display: flex;
  justify-content: center;  
    .returnButton {
    text-decoration: none;
    text-align: center;
    font-family: variables.$primary-font;
    background-color: variables.$color-07;
    padding: 15px 55px;
    border-radius: 25px;
    font-size: 13px;
    color: variables.$color-03;
  }
  .returnButton:hover {
  background-color: variables.$color-08;
}
}
.buttonStart {
  background-color: variables.$color-08;
  padding: 15px 45px;
  width: 210px;
  border: none;
  border-radius: 15px;
  text-decoration: none;
  text-align: center;
  font-family: variables.$primary-font;
  font-size: 15px;
  color: variables.$color-03;
}
.buttonStart:hover {
  background-color: variables.$color-07;
  color: white;
  padding: 15px 45px;
  width: 210px;
  border: none;
  border-radius: 15px;
}



