//fuentes
$primary-font: "Momo Trust Display", sans-serif;

$color-01: #1a1a2e;
$color-02: #2e2e4d;
$color-03: #dcd6f7;
$color-04: #ffffff;
$color-05: #9d4edd;
$color-06: #5f0f40;
$color-07: #3c096c;
$color-08: #7b2cbf;
$color-09: #5390d9;
$color-10: #3f3f5f;