@use 'abstracts/variables';
@use 'abstracts/mixins';
@use 'base/reset';
@use 'layout/header';
@use 'components/button';



body {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: variables.$color-10;

  .h1Principal {
    display: flex;
    justify-content: center;
    font-family: variables.$primary-font;
  }
  .botonesJuegos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 50px;
  }
  .return {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .start {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .tablero {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .cell {
    width: 30px;
    height: 30px;
    border: 1px solid #999;
    background-color: #ccc;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-family: variables.$primary-font;

    cursor: pointer;
  }

  .cell.revelada {
    background-color: #eee;
  }

  .cell.explosion {
    background-color: red;
    color: white;
  }
  .startSudoku {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    width: 150px;
    gap: 25px;
    select {
      border: none;
      padding: 10px 20px;
      background-color: variables.$color-05;
      border-radius: 15px;
      font-family: variables.$primary-font;
      color: white;
    }
    p {
      font-family: variables.$primary-font;
      text-align: center;
    }
  }
  .tableroSudoku {
    margin: auto;
    margin-top: 50px;
  }
  .inputSudoku {
    font-family: 'Momo Trust Display', sans-serif;
    font-size: 25px;
    text-align: center;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
  }
}